


.App {
  text-align: center;
  /*To fix: This got rid of the vertical and horizontal scrollbars,
   but now there's a white bar on the left side*/
  /* max-width: 1520px; */
  overflow-y: auto;
  overflow-x: auto;
  width:100%
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#questionHeader {
  background-color: #5591A9;
  text-align: left;
  font-family:'Franklin Gothic', sans-serif;
  font-weight: bold;
  color: white;
  outline-style: outset;
  outline-color: #062C43;
  outline-width: 1vh;
}

#detailQuestText {
  color:white;
  text-align: left;
  padding-left:50px;
}


#PageButton {
  color:white;
  background-color: #5591A9;
  outline-color: #61dafb;
  outline-width: 1vh;
  outline-style:outset;
  border-color: #062C43;
  height: 13%;
  width: 95%;
  align-self: center;
  font-family:'Franklin Gothic', sans-serif;
  font-size: 100%;

}

#APIKeyButton {
  color:white;
  background-color: #5591A9;
  outline-color: #61dafb;
  outline-width: 0.5vh;
  outline-style:outset;
  border-color: #062C43;
  align-self: center;
}

#QuizCard {
  color:white;
  background-color:#054569;
  height: 110%;
  width:90%;
  padding: 5%;
  border: #062C43;
  border-width: 5px;
  border-style: inset;
}

#Results {
  background-color:#9CCDDC; 
  color:'black';
  font-family:Helvetica, sans-serif;}

#ResultHome {
  background-color:#9CCDDC; 
  color:'black';
  font-family:'Franklin Gothic', sans-serif;
  padding:5%;
  height: 110%
}

#ResultList {
  color: #5591A9;
  font-family:'Franklin Gothic', sans-serif;
  border-style:inset;
  border-width: 5px
}