#loginPopupButton {
  color: white;
  background-color: #7d9bca;
  border: #7d9bca 5px outset;
  align-self: center;
  font-family: 'Franklin Gothic', sans-serif
}

#loginPopupButton:hover {
    color: black;
  background-color: #96aacc;
  border: #96aacc 5px inset;
  }